mystyle.css
body {
   background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #b98443e4, #f6e2c2); 
    height:auto;
    background-size: cover;
    background-image: linear-gradient(to bottom, #b98443e4, #f6e2c2); 
}

html, body {
    height: 100%;
}

header {
    background-color: #d9b279;
    padding: 0px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
div.gallery {
align-items:center;
}

.container {
object-fit: unset;
align-items:center;
 background-color: #d9b279;
max-height:fit-content;
max-width: 500px;
align-items:center;
text-align: center;
margin: 29px auto;
border-radius: 40px; 
border: 1px solid #120f0f; 
background-blend-mode: lighten;
align-items:center;
}

.container {
align-items:center;

}


div.gallery img {
border-radius: 45px;
opacity:calc(100%);
}

header h1 {
    margin-top: 10px;
    font-size: 24px;
    color: #ffffff;
    align-items:flex-start;
    text-decoration: none;
    

}
header nav a {
    margin: 49px;
    color: #ffffff;
    text-decoration:none;
    font-weight: bold;

}

.hero {
    background-image: url("images/advok home page.jpeg");
    text-emphasis-position:right;
    text-align: right;
    background-size: cover;
    background-position:center;
    text-rendering: geometricPrecision;
    padding: 155px 3px;
    color: white;
    text-shadow: 4px 4px 4px #564127;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;

}

#img1 {
filter: brightness(150%);
filter: drop-shadow(500%) #694411;
filter: saturate(700%);
display: flex;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

img {
box-shadow: 0px 10px 10px rgba(145, 94, 40, 0.3); 
height: 350px;
}

.hero h2 {
    font-size: 45px;
    margin: 0 75px 0px;
    text-align: right;   

}

.hero p {
    font-size: 18px;
    text-align: center;
    border-style:round;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;

    
}
.content {
    padding: 24px;
    max-height: min-content;
    text-align: center;
    background: linear-gradient(to top, #b98443e4, #f6e2c2);
   
}

.section {
    margin-bottom: 50px;
    text-align: center;
    padding: 10px 20px;
}

.section h3 {
    font-size: 34px;
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
    font-weight: 150;

}

.section h4 {
    font-size: 39px;
    margin-bottom: 20px;
    text-align: center;
    background-position: center;
    padding: 20px 30px;
    font-weight: 76;
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif
}
.section p {
    line-height: 1.6;
    margin: top 15px;;

}
.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.team .member {
    text-align: center;
}
.team img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
footer {
    background-color: #d9b279;
    max-height:max-content;
    color: #f9f7f4;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 80px;
    display:flow-root;
    align-items:center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    width: 100px;;
    height: 330px;
}
